{% extends 'hod_template/base_template.html' %}
{% block page_title %}
<h2 class="text-side text-white font-weight-light">Add Household</h2>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Household</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_household_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Head of the Family" name="last_name">
                  </div>
                   <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Head of the Family" name="first_name">
                  </div>
                    <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" class="form-control" placeholder="Head of the Family" name="middle_name">
                  </div>
                   <div class="form-group">
                    <label>Suffix</label>
                    <select class="form-control" name="suffix">
                        <option>Sr.</option>
                        <option>Jr.</option>
                        <option>None</option>
                    </select>
                    <div class="form-group">
                    <label>Age</label>
                    <input type="number" class="form-control" placeholder="Age" name="age">
                  </div>
                    <div class="form-group">
                    <label>Sex</label>
                    <select class="form-control" name="sex">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <div class="form-group">
                    <label>Purok</label>
                    <select class="form-control" name="purok">
                        {% for purok in purok %}
                          <option value="{{ purok.id }}">{{ purok.purok_number }}</option>
                        {% endfor %}
                    </select>
                  </div>
                    <div class="form-group">
                    <label>Place of Birth</label>
                    <input type="text" class="form-control" placeholder="Place of Birth" name="place_of_birth">
                  </div>
                    <div class="form-group">
                    <label>Birthdate</label>
                    <input type="date" class="form-control" placeholder="Birthdate" name="birthdate">
                  </div>
                    <div class="form-group">
                    <label>Civil Status</label>
                    <input type="text" class="form-control" placeholder="Civil Status" name="civil_status">
                  </div>
                    <div class="form-group">
                    <label>Citizenship</label>
                    <input type="text" class="form-control" placeholder="Citizenship" name="citizenship">
                  </div>
                    <div class="form-group">
                    <label>Occupation</label>
                    <input type="text" class="form-control" placeholder="Occupation" name="occupation">
                  </div>
                    <div class="form-group">
                    <label>Members of the Family</label>
                    <input type="text" class="form-control" placeholder="Members of the family" name="members_of_the_family">
                  </div>
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert  alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert  alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                       {% endif %}
                     </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Household</button>
                </div>
              </form>
            </div>
            <!-- /.card -->


          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}