{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Edit Official | Official ID : {{ official.id }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Official</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_official_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <input type="hidden" class="form-control" name="official_id" placeholder="Enter Official" value="{{ official.id }}">
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{ official.last_name }}">
                  </div>
                   <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{ official.first_name }}">
                  </div>
                   <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="middle_name" value="{{ official.middle_name }}">
                  </div>
                   <div class="form-group">
                    <label>Suffix</label>
                    <input type="text" class="form-control" placeholder="Suffix" name="suffix" value="{{ official.suffix }}">
                  </div>
                  <div class="form-group">
                    <label>Age</label>
                    <input type="number" class="form-control" placeholder="Age" name="age" value="{{ official.age }}">
                  </div>
                  <div class="form-group">
                    <label>Sex</label>
                    <input type="text" class="form-control" placeholder="Sex" name="sex" value="{{ official.gender }}">
                  </div>
                  <div class="form-group">
                    <label>Position</label>
                    <input type="text" class="form-control" placeholder="Position" name="position" value="{{ official.position }}">
                  </div>
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" placeholder="Contact Number" name="contact_number" value="{{ official.contact_number }}">
                  </div>
                    <div class="form-group">
                    <label>Profile Image</label>
                    <input type="file" class="form-control" placeholder="Profile" name="profile_pic" value="{{ official.contact_number }}">
                  </div>
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Official</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}